/target
*/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
*/.lein-*
/.nrepl-port
*~
*.lobs
nohup.out
*.log
profiles.clj
.hgignore
.hg/
env/
*.properties
.clj-kondo
*/out.txt
out.txt
