/target
*/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
*/.lein-*
/.nrepl-port
*~
*.lobs
nohup.out
*.log
profiles.clj
.hgignore
.hg/
env/
*.properties
.clj-kondo
*/out.txt
out.txt
*/.nrepl-report
*/.nrepl-port
node_modules
tunnelling.sh
__pycache__
babel.sh
release.sh
*.yml
develop-jsx.sh
run.sh
build-all.sh
compile-and-run.sh
target/
.idea/
frontend/resources/public/js/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
