textarea {
  width: 98%;
  height: 30em;
  margin: auto;
  display: block;
}

.ok {
  background-color: lightgreen;
}

.invalid {
  background-color: red;
}

#table-holder {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  margin: 2em auto 2em auto;
}

table {
    border-collapse: collapse;
}

 td {
  height: 5em;
  border: blue dashed 1px;
  padding-left: 1em;
  padding-right: 1em;
}

th {
  width: 7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  border: 1px solid black;
}

thead th {
  background-color: tan;
}

.first {
  border-right: 2px solid black;
}

tr {
  border: solid black 1px;
}

.playlist {
  background-color: #ffff99;
  border: black 1px solid;
}

.merge {
  background-color: #FFE4E1;
}

.multi {
  background-color: #b3ffb3;
}

.name {
  font-weight: bold;
}

.count {
  font-size: 0.8em;
  font-family: sans-serif;
}

.filler {
  background-color: lightgray;
}
