.column {
  width: 33%;
  margin: 1em 0 0 0;
  display: inline-block;
  vertical-align: top;
}

h2 {

  text-align: center;
}

.item {
  width: 20em;
  height: 20em;
  padding: 0.5em;
  margin: 3px auto 3px auto;
  border: 2px dotted brown;
  word-wrap: normal;
  vertical-align: middle;
  text-align: center;
  background-color: #F0EAD6;
  border-radius: 0.5em;
}

.dl-button {
  width: 5em;
  height: 2em;
  padding: 0.5em;
  margin: auto;
  border: 2px solid brown;
  text-align: center;
  text-decoration: none;
  background-color: lightgray;
  border-radius: 0.5em;
}

img {
  /* width: 80%; */
  height: 12em;
  padding: 0;
  margin: 1em auto 0 auto;
  border: 1px solid black;
  border-radius: 2em;
  display: block;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -140px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
