textarea {
  width: 98%;
  height: 30em;
  margin: auto;
  display: block;
}

.ok {
  background-color: lightgreen;
}

.invalid {
  background-color: red;
}

#table-holder {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  margin: 2em auto 2em auto;
  display: block;
}

table {
    border-collapse: collapse;
}

 td {
  height: 5em;
  border: blue dashed 1px;
  padding-left: 1em;
  padding-right: 1em;
}

th {
  width: 7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  border: 1px solid black;
}

thead th {
  background-color: tan;
}

.first {
  border-right: 2px solid black;
}

tr {
  border: solid black 1px;
}

.playlist {
  background-color: #ffff99;
  border: black 1px solid;
}

.merge {
  background-color: #FFE4E1;
}

.multi {
  background-color: #b3ffb3;
}

.complex {
    background-color: #faf0e6;
}

.name {
  font-weight: bold;
}

.count {
  font-size: 0.8em;
  font-family: sans-serif;
}

.filler {
  background-color: lightgray;
}

#schedule > .schedule {
    display: flex;
    flex-flow: row;
//    height: 27em;
//    width: 98%;
    padding: 0.5em;
    margin: 0;
    overflow-x: auto;
}

li {
    margin: 1em;
    background-color: lightgray;
    border-radius: 0.5em;
    width: 20em;
}

.block {
    border: solid black 1px;
    margin: 0.25em;
    min-width: 24em;
    max-width: 30em;
    vertical-align: top;
    display: inline-block;
}

.block > ol {
    border: solid black 1px;
    padding: 0.5em;
    height: 20em;
    overflow-y: auto;
}

.header {
    height: 5em;
    display: inline-block;
}

.block > h3 {
    word-wrap: normal;
    display: inline-block;
}

.block > h4 {
    display: inline-block;
}

.upDown {
    width: 8em;
    background-color: darkgray;
    border-radius: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.up {
    background-color: green;
    width: 0.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 1em;
    display: inline-block;
}

.blank-up {
    width: 0.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 1em;
    display: inline-block;
}

.del {
    background-color: yellow;
    width: 0.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 1em;
    display: inline-block;
}

.down {
    background-color: red;
    width: 0.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 1em;
    display: inline-block;
}
