html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

#content {
    width: 80%;
    min-height: 100vh;
  height: 100%;
  margin: auto;
  padding: 1em 0em 3em 0em;
  background-color: white;
  color: black;
}

nav {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #663333;
  color: white;
  vertical-align: middle;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

nav a {
  height: 1em;
  width: auto;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em;
  vertical-align: bottom;
  border-right: white 1px solid;
  display: inline-block;
  flex-direction: row;
}

nav a:hover {
  color: #663333;
  background-color: white;
  text-decoration: none;
  flex-direction: row;
}

article {
  background-color: #F0EAD6;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;
}

#previous {
  background-color: #F0EAD6;
  padding: 1em;
  margin: auto;
  display: block;
  text-align: center;
  border-radius: 2em;
  font-size: 1.5em;
  width: 30%;
}

#previous:hover {
  color: #F0EAD6;
  background-color: lightblue;
}
